html,
body {
    height: 100%;
    background-color: #DC143C;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    text-align: center;
    color: white;
    position: relative;
    z-index: -1;
}

#copyBadge {
    border-radius: 10px;
    color: red;
    background-color: white;
    opacity: 0;
    padding: 10px 20px;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 800ms ease-in-out;
}


.primaryText {
    font-family: 'Aref Ruqaa', serif;
    font-size: 10rem;
    /* font-size: 15vw; */
    /* margin-top: -6rem !important; */
}

#app {
    width: 100%;
    /* height: ; */
}

.my-auto {
    transition: margin 0.5s linear;
}

input {
    border: none !important;
    box-shadow: none !important;
    height: 3.8rem !important;
}

.btn {
    height: 100%;
    border-radius: 10px !important;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
    background-color: #BB0A1E !important;
    border: none !important;
    box-shadow: none !important;
    color: white;
}

.btn-secondary,
.btn-secondary:visited,
.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:active {
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
    color: #BB0A1E;
    border-radius: 0px !important;
}

.btn-secondary:active {
    background-color: rgba(220, 20, 60, 0.3) !important;
    /* border: none !important;
    box-shadow: none !important;
    color: #BB0A1E; */
}

.btn-secondary:active svg g .copy-cls-1,
.btn-secondary:active svg g .copy-cls-2,
.btn-secondary:active svg g .copy-cls-3,
.btn-secondary:active svg .qr-cls-1,
.btn-secondary:active svg .qr-cls-2,
.btn-secondary:active svg .qr-cls-3,
.btn-secondary:active svg .qr-cls-4 {
    /* fill: #fff; */
    background-color: rgba(220, 20, 60, 0.3) !important;
    /* border: none !important;
    box-shadow: none !important;
    color: #BB0A1E; */
}


input#link,
.linkGroup p {
    direction: ltr;
    text-align: left;
}

input#link {
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input:-webkit-autofill,
input:-internal-autofill-previewed,
input:-internal-autofill-selected {
    /* background-color: yellow !important;*/
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0 2rem white inset;
    box-shadow: 0 0 0 2rem white inset;
    -webkit-text-fill-color: black !important;
}

#submitBTN {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#shortenedLinksHeadline {
    font-size: 1.3rem;
    text-align: right;
    position: relative;
    /* background-color: black; */
}

#shortenedLinksHeadline span {
    background-color: #DC143C;
    padding-left: 20px;
    font-size: 1.3rem;
}


#shortenedLinksHeadline ::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 3px;
    right: 0;
    height: 0.5em;
    border-top: 1px solid white;
    /* background-color: brown; */
    z-index: -1;
}

.linkGroup {
    direction: ltr;
    /* height: 3.8rem !important; */
    background-color: white;
    color: #bb0a1e;
    overflow: auto;
    text-align: left;
    border-radius: 7px;
    min-height: 2.8rem;
    margin-top: 12px !important;
}

.linkGroup>button {
    min-height: 2.8rem;
}

.linkGroup>button>svg {
    min-height: 2.8rem;
}

.linkGroup div {
    /* display: inline-block; */
    min-height: 2.8rem;
    /* margin-left: 20px; */
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: inherit;
    /* flex-flow: wrap; */
    min-width: 0 !important;
    /* flex-wrap: wrap; */

}

/* .linkGroup button {
    padding: 0;
    margin-left: 20px;
} */


.longLink {
    /* width: auto; */
    font-weight: 300;
    opacity: 50%;
    /* line-break: auto; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* word-wrap: break-word !important; */
    /* max-width: 140px; */
    /* word-break: break-all; */
}

.longLink::before {
    content: '- ';
}






/* -------- SVGs -------- */

/* .copy-cls-1 {
    fill: #fff;
    stroke: #bb0a1e;
    stroke-width: 2px;
}

.copy-cls-2 {
    stroke: none;
}

.copy-cls-3 {
    fill: none;
}

.qr-cls-1,
.qr-cls-2,
.qr-cls-3,
.qr-cls-4 {
    fill: #fff;
}

.qr-cls-1,
.qr-cls-3,
.qr-cls-4 {
    stroke: #bb0a1e;
}

.qr-cls-1 {
    stroke-width: 2px;
}

.qr-cls-4 {
    stroke-width: 0.5px;
}

.qr-cls-5 {
    stroke: none;
}

.qr-cls-6 {
    fill: none;
} */

/* ---------------------------- */

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1201px) {}


/* Large devices (desktops, 992px and up) */
@media (max-width: 993px) {
    .primaryText {
        font-size: 8.7rem;
    }

    .longLink::before {
        content: '';
    }

    .linkGroup div {
        min-height: 1.8rem;
        /* padding-bottom: 6px; */
    }

    .linkGroup .row {
        flex-direction: row-reverse;
        /* flex-flow: column-reverse; */
        /* justify-content: center; */
    }

    .linkGroup {
        /* flex-direction: row-reverse; */
        flex-flow: column-reverse;
        overflow: hidden;
        /* justify-content: center; */
        /* justify-content: left !important; */
        /* align-items: center; */
    }

    .btn-secondary {
        padding: 10px 0 !important;
    }

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 769px) {
    .primaryText {
        font-size: 7.5rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 577px) {
    .primaryText {
        font-size: 6rem;
    }

    .btn-primary {
        font-size: 10px;
    }
}

/* Extra Small devices (landscape phones, 576px and up) */
@media (max-width: 400px) {
    .primaryText {
        font-size: 4rem;
    }


}