html,
body {
    height: 100%;
    background-color: #DC143C;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    text-align: center;
    color: white;
    position: relative;
    z-index: -1;
}


.primaryText {
    font-family: 'Aref Ruqaa', serif;
    font-size: 10rem;
    /* font-size: 15vw; */
    /* margin-top: -6rem !important; */
}

#app {
    width: 100%;
    /* height: ; */
}

.my-auto {
    transition: margin 0.5s linear;
}

input {
    border: none !important;
    box-shadow: none !important;
    height: 3.8rem !important;
}

.btn {
    height: 100%;
    border-radius: 10px !important;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
    background-color: #BB0A1E !important;
    border: none !important;
    box-shadow: none !important;
    color: white;
}

.btn-secondary,
.btn-secondary:visited,
.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:active {
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
    color: #BB0A1E;
}


input#link,
.linkGroup p {
    direction: ltr;
    text-align: left;
}

input#link {
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input:-webkit-autofill,
input:-internal-autofill-previewed,
input:-internal-autofill-selected {
    /* background-color: yellow !important;*/
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0 2rem white inset;
    box-shadow: 0 0 0 2rem white inset;
    -webkit-text-fill-color: black !important;
}

#submitBTN {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#shortenedLinksHeadline {
    font-size: 1.3rem;
    text-align: right;
    position: relative;
    /* background-color: black; */
}

#shortenedLinksHeadline span {
    background-color: #DC143C;
    padding-left: 20px;
    font-size: 1.3rem;
}


#shortenedLinksHeadline ::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 3px;
    right: 0;
    height: 0.5em;
    border-top: 1px solid white;
    /* background-color: brown; */
    z-index: -1;
}

#shortenedLinks {
    /* display: none; */
    /* visibility: hidden; */
    /* opacity: 0; */
    transition: visibility 0.5s, opacity 0.5s linear;
}

#shortenedLinks:hover {
    visibility: visible;
    opacity: 1 !important;
}








/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1201px) {}


/* Large devices (desktops, 992px and up) */
@media (max-width: 993px) {
    .primaryText {
        font-size: 8.7rem;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 769px) {
    .primaryText {
        font-size: 7.5rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 577px) {
    .primaryText {
        font-size: 6rem;
    }

    .btn-primary {
        font-size: 10px;
    }
}

/* Extra Small devices (landscape phones, 576px and up) */
@media (max-width: 400px) {
    .primaryText {
        font-size: 4rem;
    }


}